<!--Ramon Lucindo
    CST 336
    Fall 2019 B
    Module 5 hw4-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Planning </title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body style="background-image:url(/img/hw1background.jpg)">