<% include partials/header_deployment.ejs %>
<br />
        <header><h1> Software Development Life Cycle </h1></header>
        <br />
        <br />
    
    <main class="container">
        <figure><img src="/img/deimage.jpg" alt="Deployment Image" 
        width="300">
        <figcaption>Figure 7: Deployment</figcaption>
        </figure>
        <div class="content">
            <h2>Deployment</h2><br />
            For most companies, <u>deployment</u> of software is automated.  
            Applications deployed to production environments are usually 
            automated.  This phase is the completed production of a working 
            software.
        </div>
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="/">Software Development Life Cycle</a></li>
                    <li><a href="/planning">Planning</a></li>
                    <li><a href="/requirements">Meeting Requirements</a></li>
                    <li><a href="/design">Design</a></li>
                    <li><a href="/softwareDevelopment">Software Development</a></li>
                    <li><a href="/testing">Testing</a></li>
                    <li><a href="/deployment">Deployment</a></li>
                    <li><a href="/operationMaintenance">Operation and Maintenance</a></li>
                    <li><a href="https://raygun.com/blog/software-development-life-cycle" target="_blank"><em>source</em></a></li>
                </ul>
            </nav>
        </div>
    </main>
        <br><br>
        <div id="footer" href="/contact">
            <a id="email" href="mailto:<%= email %>">Contact Us</a>
        </div>
<% include partials/footer.ejs %>