<% include partials/header_design.ejs %>
<br />
        <header><h1> Software Development Life Cycle </h1></header>
        <br />
        <br />
    
    <main class="container">
        <figure><img src="/img/dimage.jpg" alt="Design Image" 
        width="300">
        <figcaption>Figure 4: Design</figcaption>
        </figure>
        <div class="content">
            <h2>Design</h2><br />
            Once requirements have been clearly defined, software architects and 
            developers can start the <u>design</u> process.  The design process uses 
            established patterns in producing the architecture of the 
            application and development of the software.  Developers design 
            algorithmic solutions using "Design Patterns."
        </div>
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="/">Software Development Life Cycle</a></li>
                    <li><a href="/planning">Planning</a></li>
                    <li><a href="/requirements">Meeting Requirements</a></li>
                    <li><a href="/design">Design</a></li>
                    <li><a href="/softwareDevelopment">Software Development</a></li>
                    <li><a href="/testing">Testing</a></li>
                    <li><a href="/deployment">Deployment</a></li>
                    <li><a href="/operationMaintenance">Operation and Maintenance</a></li>
                    <li><a href="https://raygun.com/blog/software-development-life-cycle" target="_blank"><em>source</em></a></li>
                </ul>
            </nav>
        </div>
    </main>
    <br><br>
<div id="footer">
    <a id="email" href="mailto:<%= email %>">Contact Us</a>
</div>
<% include partials/footer.ejs %>