<% include partials/header.ejs %>
<br />
        <header><h1> Software Development Life Cycle </h1></header>
        <br />
        <br />
    
    <main class="container">
        <figure><img src="/img/limage.jpg" alt="Software Development Life Cycle Image" width="300">
        <figcaption>Figure 1: SDLC</figcaption>
        </figure>
        <div class="content">
            The Software Development Life Cycle (SDLC) is a process utilizing 
            methods in multiple steps to deliver a developed software product to 
            the client or customer.  The cycle never ceases.  The Software 
            Development Life Cycle continues as amended features are included 
            and fixes are needed over time.  Design, development and deployment 
            are continuous.  Two major types of methods are Agile methods and 
            Waterfall methods.  Waterfall methods are comprised of steps in a 
            sequence. <br /><br />
            The 7 major steps are:<br /><br />
            <a href="/planning" class="txtlink">1) Planning</a><br />
            <a href="/requirements" class="txtlink">2) Meeting Requirements</a><br />
            <a href="/design" class="txtlink">3) Design</a><br />
            <a href="/softwareDevelopment" class="txtlink">4) Software Development</a><br />
            <a href="/testing" class="txtlink">5) Testing</a><br />
            <a href="/deployment" class="txtlink">6) Deployment</a><br />
            <a href="/operationMaintenance" class="txtlink">7) Operation and Maintenance</a>
        </div>
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="/">Software Development Life Cycle</a></li>
                    <li><a href="/planning">Planning</a></li>
                    <li><a href="/requirements">Meeting Requirements</a></li>
                    <li><a href="/design">Design</a></li>
                    <li><a href="/softwareDevelopment">Software Development</a></li>
                    <li><a href="/testing">Testing</a></li>
                    <li><a href="/deployment">Deployment</a></li>
                    <li><a href="/operationMaintenance">Operation and Maintenance</a></li>
                    <li><a href="https://raygun.com/blog/software-development-life-cycle" target="_blank"><em>source</em></a></li>
                </ul>
            </nav>
        </div>
    </main>
    <br><br>
<div id="footer">
    <a id="email" href="mailto:<%= email %>">Contact Us</a>
</div>
<% include partials/footer.ejs %>