<% include partials/header_operationMaintenance.ejs %>
<br />
        <header><h1> Software Development Life Cycle </h1></header>
        <br />
        <br />
    
    <main class="container">
        <figure><img src="/img/oimage.jpg" alt="Operation and Maintenance Image" 
        width="300">
        <figcaption>Figure 8: Operation and Maintenance</figcaption>
        </figure>
        <div class="content">
            <h2>Operation and Maintenance</h2><br />
            The <u>operation and maintenance</u> phase does not signal the end of the 
            Software Development Life Cycle.  This phase deals with ongoing or 
            continued operation or use of the developed software.  Monitoring is 
            constant.  During this phase, any bugs that are detected are fixed.
        </div>
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="/">Software Development Life Cycle</a></li>
                    <li><a href="/planning">Planning</a></li>
                    <li><a href="/requirements">Meeting Requirements</a></li>
                    <li><a href="/design">Design</a></li>
                    <li><a href="/softwareDevelopment">Software Development</a></li>
                    <li><a href="/testing">Testing</a></li>
                    <li><a href="/deployment">Deployment</a></li>
                    <li><a href="/operationMaintenance">Operation and Maintenance</a></li>
                    <li><a href="https://raygun.com/blog/software-development-life-cycle" target="_blank"><em>source</em></a></li>
                </ul>
            </nav>
        </div>
    </main>
    <br><br>
<div id="footer">
    <a id="email" href="mailto:<%= email %>">Contact Us</a>
</div>
<% include partials/footer.ejs %>