<% include partials/header_planning.ejs %>
<br />
        <header><h1> Software Development Life Cycle </h1></header>
        <br />
        <br />
    
    <main class="container">
        <figure><img src="/img/pimage.jpg" alt="Planning Image" width="300">
        <figcaption>Figure 2: Planning</figcaption>
        </figure>
        <div class="content">
            <h2>Planning</h2><br />
            The <u>planning</u> phase requires a confluence of product and project 
            management.  The main point of planning is to be able to 
            successfully deliver a software product that meets everyone's needs.
            During this phase, the allocation of resources have to be 
            determined.  The capacity and scope of the project have to be 
            delineated.  A schedulue has to be designed to meet deadlines.  
            There has to be a determination and projection in cost.  
            Provisions have to be defined.
        </div>
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="/">Software Development Life Cycle</a></li>
                    <li><a href="/planning">Planning</a></li>
                    <li><a href="/requirements">Meeting Requirements</a></li>
                    <li><a href="/design">Design</a></li>
                    <li><a href="/softwareDevelopment">Software Development</a></li>
                    <li><a href="/testing">Testing</a></li>
                    <li><a href="/deployment">Deployment</a></li>
                    <li><a href="/operationMaintenance">Operation and Maintenance</a></li>
                    <li><a href="https://raygun.com/blog/software-development-life-cycle" target="_blank"><em>source</em></a></li>
                </ul>
            </nav>
        </div>
    </main>
<% include partials/footer.ejs %>