<% include partials/header_requirements.ejs %>
<br />
        <header><h1> Software Development Life Cycle </h1></header>
        <br />
        <br />
    
    <main class="container">
        <figure><img src="/img/rimage.jpg" alt="Meeting Requirements Image" 
        width="300">
        <figcaption>Figure 3: Meeting Requirements</figcaption>
        </figure>
        <div class="content">
            <h2>Meeting Requirements</h2><br />
            <u>Requirements</u> are generally determined by the client's stakeholders 
            and "Subject Matter Experts."  The client has to communicate to IT 
            the needed development and/or enhancement.  Along with Subject 
            Matter Experts, the software architect and development teams have to 
            also work with project managers to determine the sofware solutions 
            needed.
        </div>
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="/">Software Development Life Cycle</a></li>
                    <li><a href="/planning">Planning</a></li>
                    <li><a href="/requirements">Meeting Requirements</a></li>
                    <li><a href="/design">Design</a></li>
                    <li><a href="/softwareDevelopment">Software Development</a></li>
                    <li><a href="/testing">Testing</a></li>
                    <li><a href="/deployment">Deployment</a></li>
                    <li><a href="/operationMaintenance">Operation and Maintenance</a></li>
                    <li><a href="https://raygun.com/blog/software-development-life-cycle" target="_blank"><em>source</em></a></li>
                </ul>
            </nav>
        </div>
    </main>
    <br><br>
<div id="footer">
    <a id="email" href="mailto:<%= email %>">Contact Us</a>
</div>
<% include partials/footer.ejs %>