<% include partials/header_softwareDevelopment.ejs %>
<br />
        <header><h1> Software Development Life Cycle </h1></header>
        <br />
        <br />
    
    <main class="container">
        <figure><img src="/img/simage.jpg" alt="Software Development Image" 
        width="300">
        <figcaption>Figure 5: Software Development</figcaption>
        </figure>
        <div class="content">
            <h2>Software Development</h2><br />
            This phase is the actual <u>software development</u> leading to a 
            developed product.  Development has to be in a timely manner and 
            requires continued input from stakeholders, who are readily engaged 
            during this phase to ensure expectations.  The software has to be 
            testable.
        </div>
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="/">Software Development Life Cycle</a></li>
                    <li><a href="/planning">Planning</a></li>
                    <li><a href="/requirements">Meeting Requirements</a></li>
                    <li><a href="/design">Design</a></li>
                    <li><a href="/softwareDevelopment">Software Development</a></li>
                    <li><a href="/testing">Testing</a></li>
                    <li><a href="/deployment">Deployment</a></li>
                    <li><a href="/operationMaintenance">Operation and Maintenance</a></li>
                    <li><a href="https://raygun.com/blog/software-development-life-cycle" target="_blank"><em>source</em></a></li>
                </ul>
            </nav>
        </div>
    </main>
<% include partials/footer.ejs %>