<% include partials/header_testing.ejs %>
<br />
        <header><h1> Software Development Life Cycle </h1></header>
        <br />
        <br />
    
    <main class="container">
        <figure><img src="/img/timage.jpg" alt="Testing Image" 
        width="300">
        <figcaption>Figure 6: Testing</figcaption>
        </figure>
        <div class="content">
            <h2>Testing</h2><br />
            There are various types of <u>testing</u>.  The following are the usual 
            types of testing conducted:<br />
            <ul>
                <li>code quality testing</li>
                <li>functional testing</li>
                <li>integration testing</li>
                <li>performance testing</li>
                <li>security testing</li>
            </ul>
            These tests can be automated.  The software has to be 
            fully-functioning and amply prepared for deployment to the 
            production environment.
        </div>
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="/">Software Development Life Cycle</a></li>
                    <li><a href="/planning">Planning</a></li>
                    <li><a href="/requirements">Meeting Requirements</a></li>
                    <li><a href="/design">Design</a></li>
                    <li><a href="/softwareDevelopment">Software Development</a></li>
                    <li><a href="/testing">Testing</a></li>
                    <li><a href="/deployment">Deployment</a></li>
                    <li><a href="/operationMaintenance">Operation and Maintenance</a></li>
                    <li><a href="https://raygun.com/blog/software-development-life-cycle" target="_blank"><em>source</em></a></li>
                </ul>
            </nav>
        </div>
    </main>
    <br><br>
<div id="footer">
    <a id="email" href="mailto:<%= email %>">Contact Us</a>
</div>
<% include partials/footer.ejs %>